# Arquivos originais baixados do site
Thopp Elevadores _ Manutenção e Modernização de Elevadores em BH THOPP Elevadores _ Manutenção e Modernização de Elevadores em BH_files/
Thopp Elevadores _ Manutenção e Modernização de Elevadores em BH THOPP Elevadores _ Manutenção e Modernização de Elevadores em BH.html
assets/images/logotipo cabeçalho.png

# Outros
*.py
.DS_Store
Thumbs.db
desktop.ini
